<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title> <!-- non devo mettere @ perchè l'ho definito nell'helper com e title con la @ è una variabile istantanea -->
    <%= csrf_meta_tag %>
	<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
	<%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
